<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Trip</th>
        <th scope="col">Customer</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Tickets</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let booking of bookings">
        <td>{{ booking.id }}</td>
        <td>{{ booking.trip.landmark.name + ' ' + booking.trip.date + ' ' + booking.trip.startTime}}</td>
        <td>{{ booking.customer }}</td>
        <td>{{ booking.phoneNumber }}</td>
        <td>{{ booking.tickets }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
