<div class="container">
    <div class="row">
        
  <div class="card bg-dark">
          <div class="card-body">
            <h2 class="card-title text-center text-white">{{ title }}</h2>
            <ul class="text-center list-inline">
              <li class="list-inline-item"><a routerLink="/bookings" class="btn btn-info">List bookings</a></li>
              <li class="list-inline-item"><a routerLink="/companies" class="btn btn-info">List companies</a></li>
              <li class="list-inline-item"><a routerLink="/customers" class="btn btn-info">List customers</a></li>
              <li class="list-inline-item"><a routerLink="/employees" class="btn btn-info">List employees</a></li>
              <li class="list-inline-item"><a routerLink="/landmarks" class="btn btn-info">List landmarks</a></li>
              <li class="list-inline-item"><a routerLink="/trips" class="btn btn-info">List trips</a></li>
            </ul>
          <ul class="text-center list-inline">
              <li class="list-inline-item"><a routerLink="/addBooking" class="btn btn-info">Add Booking</a></li>
              <li class="list-inline-item"><a routerLink="/addCompany" class="btn btn-info">Add Company</a></li>
              <li class="list-inline-item"><a routerLink="/addCustomer" class="btn btn-info">Add Customer</a></li>
              <li class="list-inline-item"><a routerLink="/addEmployee" class="btn btn-info">Add Employee</a></li>
              <li class="list-inline-item"><a routerLink="/addLandmark" class="btn btn-info">Add Landmark</a></li>
              <li class="list-inline-item"><a routerLink="/addTrip" class="btn btn-info">Add Trip</a></li>
         </ul>
          </div>
        </div>
        <router-outlet></router-outlet>
    </div>
  </div>
