<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="form-group">
        <input type="text" [(ngModel)]="model.landmark.id" class="form-control" placeholder="Enter landmark id">
        <input type="text" [(ngModel)]="model.transportCompany.id" class="form-control" placeholder="Enter transport company">
        <input type="text" [(ngModel)]="model.date" class="form-control" placeholder="Enter date">
        <input type="text" [(ngModel)]="model.startTime" class="form-control" placeholder="Enter start time">
        <input type="text" [(ngModel)]="model.price" class="form-control" placeholder="Enter price">
        <input type="text" [(ngModel)]="model.availablePlaces" class="form-control" placeholder="Enter availablePlaces">
      </div>
      <button type="submit" class="btn btn-info">Submit</button>
    </form>
  </div>
</div>