<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Location</th>
        <th scope="col">Description</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let landmark of landmarks">
        <td>{{ landmark.id }}</td>
        <td>{{ landmark.name}}</td>
        <td>{{ landmark.location }}</td>
        <td>{{ landmark.description }}</td>
        <button id="remove" (click)="deleteModel(landmark)">Delete</button>
      </tr>
      </tbody>
    </table>
  </div>
</div>
